#Backend
PORT=5002
DATABASE_URL="your_mongodb" #please use your own mongodb connection, if you want to use mine, ask me for the connection. sorry i had to remove mine beacuse it's going on github.
JWT_SECRET=MYJWTSECRETKEY

#Frontend
NEXT_PUBLIC_API_URL=http://localhost:5002